nav {
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: gray;
  color: limegreen;
  display: flex;
  height: 5%;
  z-index: 99;
  justify-content: space-between;
}

#name {
  font-family: cursive;
  font-size: 20px;
}

section {
  background-color: black;
  box-shadow: 0 0 12px -2px black;
  color: darkgreen;
  align-items: center;
  width: 100% !important;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

html {
  background-color: cadetblue;
}

footer {
  background-color: gray;
  padding: 10px;
  bottom: 0;
  width: 99%;
  text-align: center;
  box-shadow: 0 0 12px -2px black;
  width: 100%;
  position: fixed;
}
footer img {
  height: 50px;
}

.main2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-direction: row;
  height: 100vh;
}
