* {
  margin: 0;
  box-sizing: border-box;
}
html {
  background-color: cadetblue;
}

body {
  height: 100vh;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: gray;
  color: limegreen;
  display: flex;
  height: 5%;
  padding: 10px;
  justify-content: space-between;
}

#name {
  font-family: cursive;
  font-size: 20px;
}

main {
  background-color: black;
  box-shadow: 0 0 12px -2px black;
  color: darkgreen;
  text-align: center;
  padding-top: 105px;
  z-index: 100;
  padding-bottom: 365px;
  width: 100%;
  min-height: 100%;
}

footer {
  background-color: gray;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 12px -2px black;
}
footer img {
  height: 50px;
}
